{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'suggestions/style.css' %}" />

<body class="site">
    <header class="site-header">
        <div class="header-container">
            <a class="logo" href="{% url 'suggestions:index' %}">Suggestio</a>
        </div>
    </header>
    <main class="site-content">
        {% block content %}{% endblock %}
    </main>
    <footer class="site-footer">
        <div class="footer-container">
            <p class="footer-text">Made by Filip Hedberg</p>
        </div>
    </footer>
</body>
