{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'suggestions/style.css' %}" />

<body class="l-site">
    <header class="l-site__header">
        <div class="c-header">
            <a class="c-header__logo" href="{% url 'suggestions:index' %}">Suggestio</a>
        </div>
    </header>
    <main class="l-site__content">
        {% block content %}{% endblock %}
    </main>
    <footer class="l__site-footer">
        <div class="c-footer">
            <p class="c-footer__text">Made by Filip Hedberg</p>
        </div>
    </footer>
</body>
