/* Project Meta */


/* CSS RESETS */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* General site structure */

.l-site {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l-site__header,
.l-site__footer {
  flex: none;
}

.l-site__content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.l-site__content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .l-site__content {
    padding-top: var(--space-lg);
  }
  .l-site__content::after {
    margin-top: var(--space-lg);
  }
}

.l-site__content--full {
  padding: 0;
}
.l-site__content--full::after {
  content: none;
}

/* Global variables */

:root {
  --step-up-5: 2em;
  --step-up-4: 1.7511em;
  --step-up-3: 1.5157em;
  --step-up-2: 1.3195em;
  --step-up-1: 1.1487em;
  /* baseline: 1em */
  --step-down-1: 0.8706em;
  --step-down-2: 0.7579em;
  --step-down-3: 0.6599em;
  --step-down-4: 0.5745em;
  --step-down-5: 0.5em;
}

:root {
	--white: #ffffff;
	--light: #f5f5f5;
    --primary: #1098F7;
    --primary-dark: #1098F7;
}

/* Global styles */

.l-site {
  background: var(--light);
}

.ic-thumb {
    width: 16px;
    margin-right: 8px;
}

.ic-thumb--white {
    fill: var(--white);
}

.ic-thumb--primary {
    fill: var(--primary);
}

/* Typography */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

/* Header */

.c-header {
    background: var(--primary);
    height: 56px;
    display: flex;
    align-items: center;
}

.c-header__logo {
    font-family: Pacifico-Regular;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    flex: 1;
}


/* footer */

.c-footer {
    background: #DCE2E6;
    height: 48px;
}

.c-footer__text {
    font-size: 12px;
    color: #999999;
    text-align: center;
    padding: 16px;
}

/* Page template index */

.l-index {
    font-size: 14px;
    max-width: 800px;
    margin: auto;
}

@media (min-width: 600px) {
    .l-index {
        font-size: 16px;
    }
 }

 @media (min-width: 1200px) {
     .l-index {
         font-size: 18px;
     }
 }

.index-header {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 32px 16px 16px 16px;
}

.index-header__title {
	font-size: var(--step-up-3);
	font-weight: 700;
}

.index-header__button-new {
    background: var(--primary);
    border-radius: 4px;
    padding: 8px;
    margin-right: 32px;
    color: #ffffff;
    font-size: var(--step-down-2);
    font-weight: 600;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.05s ease-in-out;
}

.index-header__button-new:hover {
    cursor: pointer;
    background: #118EE6;
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}


.suggestion-list {
	background: #ffffff;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 8px;
	margin-bottom: 40px;
}

.list-item {

}

.list-item:hover {
	cursor: hand;
}

.list-item__container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 64px;
}

.list-item__suggestion {
	flex: 1;
	min-width: 0;
	padding-left: 1.5rem;
	padding-right: 0.5rem;
}

.list-item__title {
	font-weight: 700;
}

.list-item__text {
	text-overflow: ellipsis;
	white-space: nowrap;
 	overflow: hidden;
	font-size: var(--step-down-2);
	opacity: 0.6;
	margin-top: 0.4rem;
	padding-bottom: 0.2rem;

}

.list-item__votes {
	width: 56px;
	padding-left: 0.5rem;
	padding-right: 1.5rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.list-item__nr-of-votes {
	text-align: right;
	flex: 1;
	padding-right: 4px;
}

.reset-example {
	margin: auto;
	width: 100%;
	display: flex;
}

.reset-example__button-reset {
	font-size: var(--step-down-1);
	text-decoration: none;
	color: #999999;
	text-align: center;
	margin: auto;
}

/* Page template detail */

.detail-container {
    font-size: 14px;
    max-width: 600px;
    margin: auto;
}

@media (min-width: 600px) {
    .detail-container {
        font-size: 16px;
    }
 }

 @media (min-width: 1200px) {
     .detail-container {
         font-size: 18px;
     }
 }

.top {
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.top__backButton {
    align-self: flex-end;
    text-decoration: none;
    color: #444444;
    font-weight: 500;
    padding-bottom: 1rem;
}

.suggestion {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding: 32px;
}

.suggestion__title {
  font-size: var(--step-up-3);
  margin: 1rem 0 1rem 0;
  font-weight: 700;
}

.suggestion__text {
	line-height: 1.3rem;
}

.suggestion__date {
  font-size: var(--step-down-2);
}

.suggestion_actions {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.suggestion_actions__vote-button {
    background: var(--primary);
    border-radius: 4px;
    padding: 8px;
    margin-left: 8px;
    color: #ffffff;
    font-size: var(--step-down-2);
    font-weight: 600;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.05s ease-in-out;
}

.suggestion_actions__vote-button:hover {
    cursor: pointer;
    background: #118EE6;
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.comments {
    margin-bottom: 16px;
}

.comments__numbers {
    font-size: var(--step-down-1);
    font-weight: 500;
    margin-left: 16px;
}

.comment {
    background: white;
    padding: 24px;
    border-radius: 4px;
    margin-top: 8px;
}

.comment__text {

}

.comment__date {
    font-size: var(--step-down-2);
    margin: 0.5rem 0 0 0;
	color: #999999;
}

.comments__none {
    font-size: var(--step-down-1);

    text-align: center;
}


.write-comment label {
	font-weight: 600;
	display: block;
	padding: 1rem 0.5rem 1rem 0.5rem;
}

.write-comment textarea {
	width: 100%;
	font-size: var(--step-down-2) ;
	padding: 1rem;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	height: 6rem;
}

.comment-button {
    background: var(--primary);
    border-radius: 4px;
	width: 100%;
	height: 40px;
    padding: 8px;
    color: #ffffff;
	text-align: center;
    font-size: var(--step-down-2);
    font-weight: 600;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.05s ease-in-out;
	margin-top: 16px;
	margin-bottom: 40px;
}

.comment-button:hover {
    cursor: pointer;
    background: #118EE6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}



/* New suggestion */

.new-container {
    font-size: 14px;
    max-width: 600px;
    margin: auto;
}

@media (min-width: 600px) {
    .new-container {
        font-size: 16px;
    }
 }

 @media (min-width: 1200px) {
     .new-container {
         font-size: 18px;
     }
 }

.new-title {
	font-size: var(--step-up-3);
	margin: 2rem 0 1rem 0;
	font-weight: 700;
}

.new-container label {
	font-weight: 600;
	display: block;
	padding: 1rem 0.5rem 1rem 0.5rem;
}

.new-container input {
	width: 100%;
	height: 40px;
	font-size: var(--step-down-1);
	padding: 1rem;
	border: 1px solid #eeeeee;
	border-radius: 4px;
}

.new-container textarea {
	width: 100%;
	font-size: var(--step-down-1) ;
	padding: 1rem;
	border: 1px solid #eeeeee;
	border-radius: 4px;
}

.new-button {
    background: var(--primary);
    border-radius: 4px;
	width: 100%;
	height: 40px;
    padding: 8px;
    color: #ffffff;
	text-align: center;
    font-size: var(--step-down-2);
    font-weight: 600;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.05s ease-in-out;
	margin-top: 16px;
}

.new-button:hover {
    cursor: pointer;
    background: #118EE6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}


/* Media Queries */
